div{
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    
}
p {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}
body {
    background-color: pink;
}